body{
    background-color: #ccc;
}

h1{
    color: white;
    text-align: center;
}

.User {
    width: 60%;
    height: 100px;
    margin: 10px auto;
    background: rgb(230, 227, 227);
    border: 1px solid #ccc;
    padding: 2px;
    box-shadow: 0 2px 3px #ccc;
    text-align: center;
}

.btnToggle{
    margin: 5px 0 0 47%;
    box-shadow: 0 2px 3px #ccc;
    border: 1px solid black;
    padding: 3px;
    cursor: pointer;
}